@import url('../_variables.css');
section.banner
{
  background: linear-gradient(45deg,rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),
              url('./images/victor-dasilva-WWw24_wucws-unsplash.jpg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
  min-height: 416.95px;
  height: auto;
}
.shadown-bright
{
  border-top: 1px solid var(--soft-purple);
  border-bottom: 1px solid var(--soft-purple);
  transition: all 0.3s ease-out;
}
.shadown-bright:hover{
  background-color: rgb(245, 235, 248);
  border-bottom: 5px solid var(--soft-purple);
  border-top: 5px solid var(--soft-purple);
}